.session-form {
  background-image: radial-gradient(circle, pink, purple, blue);
}

.login-form{
  background-image: radial-gradient(pink, purple, blue);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input{
  border: 1px solid pink;
  border-radius: 5px;
}