.session-form {
    width: 50vw;
    max-height: 90vh;
    border: 2px solid rgba(250,76,76,1);
    border-radius: 5px;
    padding: 10px;
}

.session-form input{
    margin: 5px;
    border: 1px solid rgba(250,76,76,1);
    height: 10%;
    border-radius: 5px
}

.sport-option {
    width: 33%;
    /* box-sizing: border-box; */
    display: inline-block;
}

.sport-list-input{
    /* color: pink; */
    border-color: pink;
    /* width: 90%; */
}
/* .sport-option button {
    color: pink;
    border-color: pink;
    width: 90%;
}

.sport-option button:disabled {
    background-color: pink;
    color: white;
} */

#sign-up-back-button {
    width: 100%;
}