.discover-parent-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #F4FFFD;
}

.filter-container {
  width: 20%;
  padding: 1rem;
}

.index-container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.index-header {
  margin-bottom: 1rem;
}

.sport-filter-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.sport-filter-container p {
  width: auto;
  background-color: #FF5964;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 3px;
  color: black;
}

.event-container {
  display: flex;
  align-items: flex-start;
  border-style: solid;
  padding: 1rem;
  border-width: 1px;
  border-color: #9c9c9c;
  margin: 0.5rem 0rem;
  width: 100%;
  height: 18rem;
  border-radius: 1rem;
}

.event-text {
  width: 80%;
}

.event-header {
  display: flex;
  flex-direction: column;
}

.event-header h3 {
  font-size: 1.5rem;
}

.event-icons {
  width: 3rem;
  height: 1.75rem;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  margin: 0.25rem 0rem;
}

.sport-label {
  font-size: 1rem;
}

.date-time-location {
  display: flex;
  gap: 1rem;
}

.date-time-location p {
  font-size: 0.75rem;
  font-family: 'Lexend';
}

.event-description {
  margin: 1rem, 1rem, 1rem, 0rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: 90%;
}

.event-mini-map-container img {
  height: auto;
  width: 10rem;
}