.name-box {
    margin-top: 1.5rem;
    width: 90%;
    margin-left: 5%;
    height: 4rem;
}

.name-box p{
    margin-top: 1rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Lexend', sans-serif;
    color: #F4FFFD;
}

#event-edit {
    font-family: 'Lexend', sans-serif;
    margin-top: 1rem;
    margin-left: 92%;
    color: #F4FFFD;
    cursor: pointer;
}

.event-info {
    width: 90%;
    margin-left: 5%;
}

.event-info p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #F4FFFD;
}

.attendee-circle {
    display: inline-block;
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 50%;
    background-color: #F4FFFD;
    margin-top: 1rem; 
    margin-right: 1rem;
  }
  
  .attendee-circle:hover {
    transform: scale(1.2); 
    transition: transform 0.2s ease;
  }
  
.attendee-circle:hover::before {
    content: attr(data-name);
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #F4FFFD;
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1rem;
    bottom: 2.75rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 999;
}



.join-event button {
    width: 12rem;
    height: 2rem;
    margin: 0.25rem;
    border-radius: 3rem;
    border-style: solid;
    border-color: #F4FFFD;
    border-width: 3px;
    background-color: transparent;
    color: #F4FFFD;
    transition: border-color 0.3s ease, color 0.3s ease;
    font-family: 'Lexend';
  }
  
.join-event button:hover {
    border-color: #89FC00;
    color: #89FC00;
    box-shadow: none;
  }