#user-show-main {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 60rem;
  gap: 6rem;
  margin: 3rem;
}

.profile-column {

}

.user-column {
}

.stats-column {
  margin: 2.75rem 0rem;
}

#profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#profile-pic img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.secondary-sport {
  margin-bottom: 10px;
}

.can-edit-input {
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 800;
}

.can-edit-input:focus {
  border: none;
  outline: none;
}

.user-friend {
  color: black
}

.field-label-user-show, .field-value-user-show {
  color: white;
}

.field-label-user-show {
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  margin-top: 1rem;
}

.field-value-user-show {
  font-family: 'Nunito', sans-serif;
}