@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

#event-form-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#event-form-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

#form-submit{
    width: 100%;
}

#form-submit:hover{
    cursor: pointer;
    background-color: white;
}

label{
    font-family: 'Lexend';
    color: white;
    /* margin: 10px */
}

select{
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-width: 4px;
    border-color: #ff5964;
    background-color: #ffffff;
    color: #000000;
    border-style: outset;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
}

.event-form-text-input{
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-width: 4px;
    border-color: #ff5964;
    background-color: #ffffff;
    color: #000000;
    border-style: outset;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: -50px 0px 0px rgba(66,66,66,.0);
    /* font-family: 'Lexend'; */
}
.event-form-text-input:focus{
    outline: none;
}

input[type=number]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-width: 4px;
    border-color: #ff5964;
    background-color: #ffffff;
    color: #000000;
    border-style: outset;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

input[type=time] {
  border: none;
  color: #2a2c2d;
  font-size: 14px;
  font-family: helvetica;
  width: 50%
}

input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
}

input[type=time]::-webkit-datetime-edit-text {
  padding: 19px 4px;
}

input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #f2f4f5;
  border-radius: 15%;
  padding: 19px 13px;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  background-color: #7155d3;
  border-radius: 15%;
  color: #fff;
  padding: 19px 13px;
}

input[type=time]::-webkit-clear-button {
  display: none;
}

input[type=time]::-webkit-inner-spin-button {
  display: none;
}




